.vscode

# 設定ファイルのignore
bitflyer/config/bitflyer_config.py

# __pycache__のignore
ai/__pycache__
bitflyer/__pycache__
bitflyer/config/__pycache__/
scraping/__pycache__
selenium/__pycache__

# どうでもいい系
scraping/images
selenium/chromedriver
